.idea
node_modules/
typings/
build/
data/geo_gyms.json
data/geo_stops.json
data/gyms.json
data/pokes.json
data/spawns.json
data/spawns.production.json
data/spawns_with_elevations.json
data/stops.json
src/.baseDir.ts
www

scratch/
scratch.ts

config.json
config.production.json
config.dev.json
workers.json
workers.dev.json
workers.production.json
accounts.json
db.sqlite