.idea
node_modules/
typings/
build/
data/
src/.baseDir.ts

scratch/
scratch.ts

config.json
config.production.json
config.dev.json
workers.json
workers.dev.json
workers.production.json
accounts.json
db.sqlite